body {
    color: rgb(254, 228, 249);
    background: radial-gradient(circle, rgb(255, 247, 255) 0%, rgba(255,181,248,1) 80%);
    font-style: italic;
    height: 100%;
    width: 100%;
    cursor: url('bubble-cursor.png'), auto;
}

div {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

#enter-button-element {
    display: relative;
    margin-top: auto;
    appearance: none;
    font-family: 'AlexBrushRegular';
    font-size: 64px;
    outline: 0;
    color: rgb(250, 134, 227);
    background: rgb(255, 203, 245);
    border: 2.5px solid rgb(254, 228, 249);
    border-radius: 25px;
}