body {
    color: rgb(254, 228, 249);
    border: 5px dotted rgb(250, 134, 227);
    /* background: rgb(255,255,255); */
    background: radial-gradient(circle, rgb(255, 247, 255) 0%, rgba(255,181,248,1) 80%);
    font-style: italic;
}

/* page load image */
#page-load-image {
    display: block;
    margin: auto;
    width: 500px;
}


/* header bar area */

#header-bar {
    color: rgb(255, 247, 255);
    text-align: center;
    font-family: 'AlexBrushRegular';
    font-style: normal;
    font-size: 175px;
    padding: 10px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: rgb(250, 134, 227); 
}

/* navigation bar (search/drop down/new game) */

#navigation-bar {
    padding-left: 16%;
    color: rgb(250, 134, 227);
}

#navigation-bar div label {
    -webkit-text-stroke-width: .75px; 
    /* -webkit-text-stroke-color: rgb(250, 134, 227);  */
}

header#navigation-bar div{
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'AlexBrushRegular';
    font-size: 30px;
}

#musicOnOff {
    border: none;
    padding-right: 25px;
}

#musicOnOff p {
    display: inline-block;
    margin: 0%;
}

#search-bar-form{
    display: inline-block;
    padding-left: 25px;
    
}

#character-id-input {
    display: inline-block;
    appearance: none;
    outline: 0;
    background: rgb(255, 203, 245);
    border: 2.5px solid rgb(254, 228, 249);
    font-family: 'AlexBrushRegular';
    font-size: 18px;
    border-radius: 10px;
    padding-left: 40px;
}

::placeholder {
    color: rgb(250, 134, 227);
}

#submit-button {
    display: inline-block;
    appearance: none;
    font-family: 'AlexBrushRegular';
    font-size: 18px;
    outline: 0;
    color: rgb(250, 134, 227);
    background: rgb(255, 203, 245);
    border: 2.5px solid rgb(254, 228, 249);
    border-radius: 10px;
}

#diff-dropdown {
    display: inline-block;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    font-family: 'AlexBrushRegular';
    font-size: 18px;
}


select {
    display: inline-block;
    appearance: none;
    outline: 0;
    color: rgb(250, 134, 227);
    background: rgb(255, 203, 245);
    border: 2.5px solid rgb(254, 228, 249);
    border-radius: 10px;
}

/* selected character image */

#desired-character-image {
    display: block;
    margin: auto;
    padding: 10px;
    width: 150px;
    border: 2.5px solid rgb(255, 247, 255);
}

/* counter/score tracker */

#score-tracker-bar {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 22px;
    padding-bottom: 10px;
}

#high-score-tracker {
    display: inline-block;
    color: rgb(250, 134, 227);
}

#current-score-tracker {
    display: inline-block;
    color: rgb(250, 134, 227);
}

#counter-element-label {
    color: rgb(250, 134, 227);
    font-size: 20px;
}

#counter-element {
    display:inline-block;
    margin: auto;
    color: rgb(250, 134, 227);
    font-size: 20px;
}

/* time counter area */
#time-counter {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

#start-game-button {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    appearance: none;
    font-family: 'AlexBrushRegular';
    font-size: 30px;
    outline: 0;
    color: rgb(250, 134, 227);
    background: rgb(255, 203, 245);
    border: 2.5px solid rgb(254, 228, 249);
    border-radius: 10px;
}

#play-again {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
    appearance: none;
    font-family: 'AlexBrushRegular';
    font-size: 20px;
    outline: 0;
    color: rgb(250, 134, 227);
    background: rgb(255, 203, 245);
    border: 2.5px solid rgb(254, 228, 249);
    border-radius: 10px;
}

/* game board area */

#game-board-area {
    display: block;
    margin: auto;
}

#gameboard {
    margin-left: auto;
    margin-right: auto;
}

.grid-img{
    border: 2.5px solid rgb(255, 247, 255);
    height: 125px;
    width: 100px;
}
/* Better Luck Message */

#better-luck-message {
    text-align: center;
    font-family: 'AlexBrushRegular';
    font-size: 40px;
    color: rgb(250, 134, 227);
}

#high-score-table {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-family: 'AlexBrushRegular';
    font-style: normal;
    font-size: 60px;
    width: 60%;
    color: fuchsia;
    border-collapse: separate;
    border: 4px solid magenta
}

.table-score {
    text-align: center;
}